.jumbotron{
	width: 600px;
	text-align: center;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
.table{
	margin-top: 20px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.campos{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.selecionado{
	background-color: yellow;
}
.negrito{
	font-weight: bold;
}